.loading {
    animation: pulse 1s alternate infinite forwards;
    font-family: var(--font-pixel);
    text-align: center;
}

.articleList {
    padding: 2rem;
    background-color: var(--bg-);
}

.list {
    list-style: none;
    padding: 0;
}

.listTitle {
    font-family: var(--font-title-slab);
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    border-bottom: 1px solid black;
    padding: 1rem;
}

.light {
    font-weight: 100;
    font-size: 1rem;
}

@keyframes pulse {
    0%   { opacity: 1}
    100% { opacity: 0.2}
}