.header {
    background: var(--light-primary);
    background: linear-gradient(90deg, var(--light-primary) 0%, var(--light-secondary) 89%);
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    
    h1 {
        font-family: "Silkscreen", sans-serif;
        font-weight: 400;
        color: var(--text-color-light);
        font-size: 1.2rem;
    }
}

.cursor {
    animation: blink 0.5s alternate infinite;
}

@media screen and (min-width: 769px) {
    .header {
        grid-column: 1 / 4;
    }
}

@keyframes blink {
    0% { opacity: 0}
    49% { opacity: 0}
    50% { opacity: 1}
    100% { opacity: 1}
}
