/* Load fonts */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Silkscreen:wght@400;700&display=swap');

:root {
  /* COLORS */
  --text-color-light: #fefefe;
  --light-primary: #22d4b7;
  --light-secondary: #12a48d;

  --black-20: rgba(0,0,0,0.2);
  --black-50: rgba(0,0,0,.5);
  --black-70: rgba(0,0,0,.7);
  --black-100: rgba(0,0,0,1);

  /* FONTS */
  --font-pixel: "Silkscreen", sans-serif;
  --font-body-sans: "Afacad", sans-serif;
  --font-title-slab: "Montagu Slab", serif;

  /* SHADOW */
  --box-shadow: 0 0.125rem 0.5rem var(--black-20);

  /* TIMINGS */

  --transition-fast: 0.2s;
  --transition-medium: 0.4s;
  --transition-slow: 0.8s;
}

h1, h2, h3, p {
  margin: 0;
  line-height: 1;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

