.article {

}

.title {
    font-family: var(--font-body-sans);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.description {
    font-family: var(--font-body-sans);
}